//COLORS
$dark-color: #2b2b2b;
$white-color: #ffffff;

//NAVIGATION COLORS
$nav-background: $dark-color;
$nav-font-color: $white-color;
$cool-text-shadow:  0 0 1px #d2d2ff, 0 0 2px #e3d1ff, 0 0 2px #4f55ff, 0 0 20px #b8c6ff, 0 0 3px #3631ff, 0 0 3px #ff00de;

$bold: bold;

//Clock
$clock-text-color: #ffffff;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;